@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700);

@import "../components/font-awesome/scss/font-awesome";

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  background: #cacaca;
}

.scrollingNav {
  overflow: hidden;
  width: 30%;
  margin: 0 auto;
}
.content {
  float: right;
  width: 65%;
}
.nav {
  float: left;
  width: 30%;
  margin: 0;
  padding: 0;
  position: fixed;
  list-style: none;
}

.highlighted {
  margin-left: -5px;
  font-weight: bold;
}
